<h2> Edit Student</h2>

<form>
  <input placeholder="vm.student.name" data-ng-model="vm.student.name" />
  <input placeholder="vm.student.email" data-ng-model="vm.student.email" />
  <input placeholder="vm.student.linkedin_url" data-ng-model="vm.student.linkedin_url" />
  <input placeholder="vm.student.github_url" data-ng-model="vm.student.github_url"/>
  <textarea placeholder="vm.student.bio" data-ng-model="vm.student.bio"></textarea>
<button data-ng-click="vm.update()">Update</button>
  <button data-ng-click="vm.destroy()">Delete</button>
</form>
