
main{
  font-family: sans-serif;
}
nav{
  background-color: rgba(189, 22, 0, 1);
  margin: 0px;
  /*margin-bottom: 20px;*/
}
body{
  background-image: url("https://st.hzcdn.com/simgs/07717dc10523d1b0_4-9915/contemporary-wallpaper.jpg");
  background-size: cover;
  background-position: top;
}
main{
  background-color: hsla(207, 10%, 37%, 0.66);
  padding: 50px;
  margin: 100px;
}

h2{
  font-family: 'Pacifico', cursive;
}
 .navbar{
   text-align: right;
   margin-right: 100px;
   font-family: 'Pacifico', cursive;
   position: relative;
   top: -20px;

 }
.logo{
  font-family: 'Pacifico', cursive;
  font-size: 30pt;
  margin-left: 100px;
  margin-top: 30px;
  position: relative;
  bottom: -30px;
}

a{
  text-decoration: none;
}

.students, .events{
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.student, .event{
  background-color:black;
  margin: 10px;
  padding: 10px;
  color: white;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 200px;
}

.event{
  width: 500px;
}
.newstudent, .newevent, .showstudent{
  background-color:black;
  margin: 10px;
  padding: 10px;
  width: 200px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.newevent{
  width: 500px;
}

.showstudent{
  width: 500px;
  color: white;
}
