<h2>Edit Event</h2>

<form>
  <input placeholder="vm.event.name" data-ng-model="vm.event.name" />
  <input placeholder="vm.event.date" data-ng-model="vm.event.date" />
  <input placeholder="vm.event.time" data-ng-model="vm.event.time" />
  <input placeholder="vm.event.location" data-ng-model="vm.event.location" />
  <input placeholder="vm.event.organizer" data-ng-model="vm.event.organizer" />
  <input placeholder="vm.event.event_url" data-ng-model="vm.event.event_url" />
  <button type="button" data-ng-click="vm.update()">Update</button>
  <button data-ng-click="vm.destroy()">Delete</button>
</form>
