<h2>Create Event</h2>

<form>
  <input placeholder="Event name" data-ng-model="vm.event.name" />
  <input placeholder="Date" data-ng-model="vm.event.date" />
  <input placeholder="Time" data-ng-model="vm.event.time" />
  <input placeholder="Location" data-ng-model="vm.event.location" />
  <input placeholder="Organizer" data-ng-model="vm.event.organizer" />
  <input placeholder="Event Url" data-ng-model="vm.event.event_url" />
  <button type="button" data-ng-click="vm.create()">Create</button>
</form>
