<div ng-controller= 'ShowEventController as vm'>
  <h2>{{vm.event.name}}</h2>
  <p>{{vm.event.date}}, {{vm.event.time}}</p>
  <p>{{vm.event.location}}</p>
  <p>Organized by: {{vm.event.organizer}}</p>
  <p><a href = {{vm.event.event_url}}> Learn More </a></p>
  <a data-ui-sref="EventEdit({id: vm.event.id})">Edit</a>
  <br><br>

  <div> Attendances </div>
  <div data-ng-repeat="attendance in vm.attendances">
    {{attendance.student_id}}
    {{attendance.event_id}}
  </div>
<br><br>
  <div class="going">
    <form >


      <select placeholder="Who's going?" class="rsvp" name="rsvp" ng-model="vm.studentGoing">
       <option ng-repeat="student in vm.students" value={{student.id}} ng-model = "vm.newAttendance">{{student.name}}</option>

      </select>
      <button type="submit" value="Submit" ng-click = "vm.addAttendance()">I'm going</button>
    </form>
  </div>

</div>
